<div class="container-fluid box">
    <div class="box__top row justify-content-center px-5">
        <div class="col-md-5 text-center box__top-text">
            Have a look at the most <br />
            Popular Drinks we provide below
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5 text-center box__top-text box2">
            Or
            <a routerLink="/home/drinks" [queryParams]="{ a: 'Alcoholic' }">Click Here</a>
            <br />
            to browse through all the Drinks
        </div>
    </div>
    <div class="box__bottom row">
        <div class="col-md-4 text-center my-2">
            <button type="button" class="btn btn-dark px-5 py-2 text-uppercase" routerLink="/home/drinks"
                [queryParams]="{ c: 'Cocktail' }">
                Cocktails
            </button>
        </div>
        <div class="col-md-4 text-center my-2">
            <button type="button" class="btn btn-dark px-5 py-2 text-uppercase" routerLink="/home/drinks"
                [queryParams]="{ c: 'Shot' }">
                Shots
            </button>
        </div>
        <div class="col-md-4 text-center my-2">
            <button type="button" class="btn btn-dark px-5 py-2 text-uppercase" routerLink="/home/drinks"
                [queryParams]="{ c: 'Beer' }">
                Beers
            </button>
        </div>
    </div>
</div>