.parent {
    height: 100%;
    img {
        height: 100%;
        width: 100%;
    }
    .left-text-overlay {
        position: absolute;
        top: 32%;
        left: 3%;
        font-size: 40px;
        font-weight: 600;
        font-family: "Kaushan Script", cursive;
        line-height: 10vh;
        text-align: center;
        color: #ddff00;
    }
    .right-text-overlay {
        position: absolute;
        top: 32%;
        right: 3%;
        font-size: 40px;
        font-weight: 600;
        font-family: "Kaushan Script", cursive;
        line-height: 10vh;
        text-align: center;
        color: #ddff00;
        a {
            text-decoration: none;
            color: #ddff00;
            &:hover {
                color:#00ddff;
            }
        }
    }
    .img-overlay-btns {
        font-family: "Kaushan Script", cursive;
        position: absolute;
        top: 80%;
        left: 0;
        right: 0;
        bottom: 14%;
    }
}
