.box {
    background-image: url("../../../assets/home-back.jpg");
    height: 100vh;
    background-size: cover;
    &__top {
        position: absolute;
        top: 25vh;
        width: 100%;
        &-text {
            font-size: 40px;
            font-weight: 600;
            font-family: "Kaushan Script", cursive;
            line-height: 10vh;
            color: #f2f5f7;
            a {
                text-decoration: underline;
                color: #8b8a8a;

                &:hover {
                    color: #f2f5f7;
                }
            }
        }
    }
    &__bottom {
        position: absolute;
        bottom: 10vh;
        width: 100%;
        .btn {
            font-family: "Kaushan Script", cursive;
        }
    }
}

@media (max-width: 768px) {
    .box {
        &__top {
            position: absolute;
            top: 10vh;
            width: 100%;
            padding-left: 1rem !important;
            padding-right: 1rem !important;
            &-text {
                font-size: 26px;
                line-height: 7.5vh;
            }
            .box2 {
                margin-top: 2rem;
            }
        }
    }
}
