.wrapper {
    // height: 100%;
    // background: #c0ccc9;
    font-family: "Kalam", cursive;
    .heading {
        font-size: 56px;
        font-weight: 600;
        line-height: 8vh;
        text-align: center;
    }
    .search {
        text-align: center;
        input {
            height: 48px;
            width: 30vw;
            border-radius: 20px;
            border: none;
            font-size: 1rem;
            padding-left: 16px;
            background: white url(../../../assets/search.png) no-repeat;
            background-position: 96%;
            &:focus {
                outline: none;
            }
        }
    }
    .main {
        .left {
            background: white;
            width: 20%;
            height: max-content;
        }
        .right {
            background: white;
            width: 80%;
            height: max-content;
            .drinkDiv {
                cursor: pointer;
                &:hover {
                    p {
                        color: #2ded2d;
                    }
                }
                .imageDiv {
                    img {
                        // border-style: solid;
                        // border-width: thick;
                        // border-color: coral;
                        border-radius: 10px;
                        width: 240px;
                    }
                }
                p {
                    font-size: 20px;
                }
            }
        }
    }
}

mat-expansion-panel {
    margin: 8px;
}

.mat-expansion-panel-header-title {
    font-family: "Kalam", cursive;
}

.mat-list-item {
    font-family: "Kalam", cursive;
}
