<div class="wrapper">
    <div class="heading py-4">
        <p>Welcome to the Cocktail App</p>
    </div>
    <div class="search">
        <input type="text" placeholder="Search Drinks" />
    </div>
    <div class="main d-flex w-100 py-5">
        <div class="left m-2">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>Bases</strong>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-action-list>
                        <button *ngFor="let filter of baseFilters" mat-list-item
                            (click)="onFetchDrinks('a',filter.strAlcoholic)"> {{filter?.strAlcoholic}}
                            <mat-divider></mat-divider>
                        </button>
                    </mat-action-list>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>Categories</strong>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-action-list>
                        <button *ngFor="let filter of categoryFilters" mat-list-item
                            (click)="onFetchDrinks('c',filter.strCategory)"> {{filter?.strCategory}}
                            <mat-divider></mat-divider>
                        </button>
                    </mat-action-list>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>Ingredients</strong>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-action-list>
                        <button *ngFor="let filter of ingredientsFilters" mat-list-item
                            (click)="onFetchDrinks('i',filter.strIngredient1)"> {{filter?.strIngredient1}}
                            <mat-divider></mat-divider>
                        </button>
                    </mat-action-list>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>Glasses</strong>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-action-list>
                        <button *ngFor="let filter of glassFilters" mat-list-item
                            (click)="onFetchDrinks('g',filter.strGlass)"> {{filter?.strGlass}}
                            <mat-divider></mat-divider>
                        </button>
                    </mat-action-list>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="right m-2 row">
            <div *ngIf="drinks.length === 0" class="heading py-5">
                <p>So Sorry... No Drinks for that filter !</p>
            </div>
            <div class="drinkDiv p-4 col-sm-3" *ngFor="let drink of drinks">
                <div class="imageDiv">
                    <img [src]="drink.strDrinkThumb">
                </div>
                <p class="text-center mt-2">{{drink.strDrink}}</p>
            </div>
        </div>
    </div>
</div>